run = "bash deploy_handlers/replit.sh"
modules = ["python-3.12", "bash", "nix"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "bash deploy_handlers/replit.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 80
externalPort = 80
